<div class="list row">
  <div class="col-md-18">
    <h4>Customer List</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Birthdate</th>
          <th>Balance</th>
          <th>Account Number</th>
        </tr>
      </thead>
      <tbody>
        @for (customer of customers; track customers; let i = $index) {
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.birthdate }}</td>
          <td>{{ customer.balance }}</td>
          <td>{{ customer.accountNumber }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
  </div>
</div>


  